<!doctype html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>DND Dungeon helper</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Neuton' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/main.css">

    <script src="js/vendor/fastclick.js"></script>
    <script>
        window.addEventListener('load', function () {
            FastClick.attach(document.body);
        }, false);
    </script>
    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>

    <script src="js/vendor/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script type="text/javascript" src="js/vendor/ng-tags-input.min.js"></script>
    <script type="text/javascript" src="js/vendor/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script type="text/javascript" src="js/vendor/wavesurfer.min.js"></script>


    <script src="js/main.js"></script>

</head>
<body data-ng-app="dndApp" data-ng-controller="tableController">
<script type="text/ng-template" id="settings.html">
    <div class="modal-header">
        <h3 class="modal-title">Gegner</h3>
    </div>
    <div class="modal-body">
        <table class="table table-striped table-responsive table-enemies-header">
            <tr>
                <th>Name</th>
                <th class="text-right">Aktion</th>
            </tr>
        </table>

        <div class="table-enemies">
            <table class="table table-striped table-responsive ">
                <tr data-ng-repeat="enemy in enemyTypes">
                    <td>
                        {{enemy.name}}
                    </td>
                    <td class="text-right">
                        <button class="btn btn-primary btn-sm" type="button" data-ng-click="toggle(enemy)"
                                data-ng-class="isActive(enemy) ? 'btn-danger' : ''">
                            {{ isActive(enemy) ? 'Entfernen' : 'Hinzufügen' }}
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-ng-click="ok()">Speichern</button>
    </div>
</script>
<script type="text/ng-template" id="sound.html">
    <div class="modal-header">
        <h3 class="modal-title">Audio</h3>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-md-3 soundpanel" data-ng-repeat="sound in SoundService.sounds">
                <div class="pull-right soundpanel-volume">
                    <div class="fa fa-volume-up"></div>
                    <input type="range" min="0" max="1" step="any" ng-model="sound.volume" ng-change="SoundService.volume(sound.id)" orient="vertical">
                    <div class="fa fa-volume-off"></div>
                </div>
                <span class="fa fa-4x" ng-class="'fa-' + sound.type "></span>
                <h4>{{sound.title}}</h4>
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-primary" data-ng-click="SoundService.start(sound.id)"><span class="fa fa-fw fa-step-forward"></span></button>
                    <button class="btn btn-default" data-ng-click="SoundService.toggle(sound.id)"><span class="fa fa-fw fa-play" ng-show="SoundService.paused(sound.id)"></span><span class="fa fa-fw fa-pause" ng-hide="SoundService.paused(sound.id)"></span></button>
                    <button class="btn btn-danger" data-ng-click="SoundService.stop(sound.id)"><span class="fa fa-fw fa-stop"></span></button>
                    <button class="btn btn-primary" ng-model="sound.loop" uib-btn-checkbox><span class="fa fa-fw fa-repeat"></span></button>
                </div>
                <div class="clearfix"></div>
                <ng-wavesurfer url="sounds/{{ sound.src }}" wave-color="#337ab7" progress-color="#23527c" height="30" audio-id="{{sound.id}}">
                </ng-wavesurfer>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" data-ng-click="ok()">Speichern</button>
    </div>
</script>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="col-md-12 content">
    <header>
        <h1 class="text-center">DND Helper</h1>
    </header>

    <table class="table">
        <thead>
            <tr>
                <th width="15%">Name</th>
                <th width="20%">LP</th>
                <th width="20%">AP</th>
                <th width="20%">Tags</th>
                <th width="25%">Aktion</th>
            </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="enemy in enemies" data-ng-class="enemy.isDead() ? 'danger' : ''">
            <td>
                <input type="text" class="form-control" data-ng-model="enemy.name">
            </td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" name="button" class="btn btn-default" data-ng-click="enemy.setLp(enemy.lp-1)">
                        -
                    </button>
                    <input type="number" class="form-control" data-ng-model="enemy.lp">
                    <button type="button" name="button" class="btn btn-default" data-ng-click="enemy.setLp(enemy.lp+1)">
                        +
                    </button>
                </div>
            </td>
            <td>
                <div class="btn-group" role="group">
                    <button type="button" name="button" class="btn btn-default" data-ng-click="enemy.setAp(enemy.ap-1)">
                        -
                    </button>
                    <input type="number" class="form-control" data-ng-model="enemy.ap">
                    <button type="button" name="button" class="btn btn-default" data-ng-click="enemy.setAp(enemy.ap+1)">
                        +
                    </button>
                </div>
            </td>
            <td width="15%">
                <tags-input data-ng-model="enemy.tags" min-length="1">
                    <auto-complete source="getTags($query)" min-length="1"></auto-complete>
                </tags-input>
            </td>
            <td class="text-right button-actions" width="30%">
                <button type="button" name="button" class="btn" data-ng-click="toggleTag(enemy,'vergiftet')"
                        data-ng-class="hasTag(enemy,'vergiftet') ? 'btn-success' : 'btn-default'" title="Vergiften">
                    <i class="fa fa-flask"></i></button>
                <button type="button" name="button" class="btn" data-ng-click="toggleTag(enemy,'feuer')"
                        data-ng-class="hasTag(enemy,'feuer') ? 'btn-success' : 'btn-default'" title="Verbrennen">
                    <i class="fa fa-fire"></i></button>
                <button type="button" name="button" class="btn" data-ng-click="toggleTag(enemy,'betäubt')"
                        data-ng-class="hasTag(enemy,'betäubt') ? 'btn-success' : 'btn-default'" title="Betäuben">
                    <i class="fa fa-bed"></i></button>
                <button type="button" name="button" class="btn btn-danger" data-ng-click="instaKill(enemy)">
                    <i class="fa fa-heart"></i></button>

                <button type="button" name="button" class="btn btn-danger" data-ng-click="remove(enemy)">
                    <i class="fa fa-times"></i></button>

            </td>
        </tr>
        </tbody>
    </table>
    <div class="static-navigation">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-7 enemy-buttons">
                  <span data-ng-repeat="enemyTyp in enemyTypes" class="enemyList">
                    <button type="button" name="button" class="btn btn-default btn-sm"
                            data-ng-click="addEnemy(enemyTyp.name)">
                        {{enemyTyp.name}}
                    </button>
                      <div class="enemyHelper">
                          LP: {{ enemyTyp.lp}}<br>
                          AP: {{ enemyTyp.ap}}<br>
                          Damage: {{ enemyTyp.damage}}
                      </div>
                  </span>
                </div>
                <div class="col-md-5 text-right">
                    Runde {{ round }}
                    <button type="button" name="button" class="btn btn-default" data-ng-click="openSettings()">
                        <i class="fa fa-cog"></i>
                    </button>
                    <button type="button" name="button" class="btn btn-default" data-ng-click="reset()">
                        <i class="fa fa-trash-o"></i></button>
                    <button type="button" name="button" class="btn btn-default" data-ng-click="openSound()">
                        <i class="fa fa-music"></i>
                    </button>
                    <button type="button" name="button" class="btn btn-danger" data-ng-click="enemies = []">
                        <i class="fa fa-bullseye"></i>
                    </button>
                    <button type="button" name="button" class="btn btn-primary" data-ng-click="nextRound()">Runde+
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>
